<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h3>
    <div class="text-center mb-4">
      Todos
      <div class="badge badge-info">
        <%= @todos.count %>
      </div>
    </div>
  </h3>

  <table class='table'>
    <thead>
      <tr>
        <th>Content</th>
        <th>Complete</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @todos.each do |todo| %>
        <% if current_user == todo.user %>
          <tr>
            <td><%= todo.content %></td>
            <td>
              <%= todo.complete %>
              <%= check_box("tag", tag.id, {checked: todo.complete}) %>
            </td>
            <td><%= todo.user %></td>
            <td><%= link_to 'Show', todo %></td>
            <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
            <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_todo' %>
              <i class="fa fa-trash" style="font-size:24px"></i>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Create Todo', new_todo_path, class: 'btn btn-primary' %>
  
</div>
