<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h3>
    <div class="text-center mb-4">
      Todos
      <div class="badge badge-info">
        <%= @todos.count %>
      </div>
    </div>
  </h3>

  <table class='table'>
    <thead>
      <tr>
        <th>Content</th>
        <th>Complete</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @todos.each do |todo| %>
        <% if current_user == todo.user %>
          <tr>
            <td><%= todo.content %></td>
            <td>
              <%= todo.complete %>
              <%= check_box("tag", tag.id, {checked: todo.complete}) %>
            </td>
            <td><%= todo.user %></td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Detail
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>
                          <strong>Content:</strong>
                          <%= todo.content %>
                        </p>
                        
                        <p>
                          <strong>Complete:</strong>
                          <%= todo.complete %>
                        </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
            <td>
              <%= link_to '<i class="fa fa-trash" style="font-size:24px"></i>'.html_safe, todo, method: :delete, :remote => true, :class => 'delete_todo' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Create Todo', new_todo_path, class: 'btn btn-primary' %>
  
</div>
